# Ignore everything
*


# But keep the important notebooks and files
!/data/
!/data/**

!/sup_imgs/
!/sup_imgs/**

!Potential_Talents_part1.ipynb
!Potential_Talents_part2.ipynb
!Potential_Talents_part2b.ipynb
!Potential_Talents_part3.ipynb

